/* Project Meta */

/* reset  */

/* general */
.navbar{
	margin-bottom: 0;
	border-radius: 0;
	border:0;
	font-size: 1.2em;
}


/* typography */

/* grid */

/* header */

/* footer */

/* Page template A */

/* Page template B */

/* Media Queries */